/* ==================================================
   Fonts
================================================== */
@font-face {
  font-family: 'Cabiar'; /*a name to be used later*/
  src: url('../fonts/CaviarDreams.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'CabiarBold'; /*a name to be used later*/
  src: url('../fonts/CaviarDreams_Bold.ttf'); /*URL to font*/
}

/* ==================================================
   Basic Styles
================================================== */
*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: Cabiar,Georgia;
  color: #706F6F;
  font-size: 16px;
}

ul {
  margin: 0;
  list-style: none;
}

ul.custom-dots li{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 8px;
}

ul.custom-dots li img{
  width: 25px;
  height: 17px;
  margin-top: 4px;
  margin-right: 8px;
}

a, a:hover, a:focus {
  text-decoration: none;
}

h1 {
  font-size: 46px;
  color: #FFFFFF;
  text-align: center;
}

p.medium {
  font-size: 24px;
}

#fancybox-close {
  top: 0;
  right: -40px;
}

/* ==================================================
   Buttons
================================================== */
.btn-detail {
  margin: 10px 0 20px;
}

.btn-ageless {
  /*margin: 10px 0 20px;*/
  background-color: #469BB0;
  color: #FFFFFF;
}

.btn-ageless:hover, .btn-ageless:focus {
  background-color: #87C9E1;
  color: #FFFFFF;
}

.btn-luminesce {
  /*margin: 10px 0 20px;*/
  background-color: #002A5C;
  color: #FFFFFF;
}

.btn-luminesce:hover, .btn-luminesce:focus {
  background-color: #5584BB;
  color: #FFFFFF;
}

.btn-vidacell {
  /*margin: 10px 0 20px;*/
  background-color: #E9CA0D;
  color: #FFFFFF;
}

.btn-vidacell:hover, .btn-vidacell:focus {
  background-color: #ECDD2C;
  color: #FFFFFF;
}

.btn-zen-bodi {
  /*margin: 10px 0 20px;*/
  background-color: #B81E20;
  color: #FFFFFF;
}

.btn-zen-bodi:hover, .btn-zen-bodi:focus {
  background-color: #A56367;
  color: #FFFFFF;
}

.btn-finiti {
  /*margin: 10px 0 20px;*/
  background-color: #DD0977;
  color: #FFFFFF;
}

.btn-finiti:hover, .btn-finiti:focus {
  background-color: #D25E9A;
  color: #FFFFFF;
}

.btn-reserve {
  /*margin: 10px 0 20px;*/
  background-color: #35004A;
  color: #FFFFFF;
}

.btn-reserve:hover, .btn-reserve:focus {
  background-color: #B960A0;
  color: #FFFFFF;
}

.btn-am-pm {
  /*margin: 10px 0 20px;*/
  background-color: #EF2D24;
  color: #FFFFFF;
}

.btn-am-pm:hover, .btn-am-pm:focus {
  background-color: #F35B54;
  color: #FFFFFF;
}

#back {
  position: fixed;
  bottom: 20px;
  left: 30px;
  background-color: #002A5C;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
}

body.ageless #back {
  background-color: #469BB0;
}

body.zenbodi #back {
  background-color: #B81E20;
}

body.finiti #back {
  background-color: #DD0977;
}

body.reserve #back {
  background-color: #35004A;
}

body.am-pm #back {
  background-color: #EF2D24;
}

.col-pdf {
  margin-top: 30px;
}
/* ==================================================
   Videos
================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==================================================
    Sections
================================================== */
.tta-section {
  padding-bottom: 70px;
  background-color: white;
}

.tta-section h2{
  color: #18315A;
  font-size: 30px;
  padding: 1em 0 1.6em;
  font-family: 'CabiarBold', serif;
  margin: 0;
  text-align: center;
}

.tta-section .description {
  color: #18315A;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.tta-section .important {
  color: #18315A;
  font-weight: bold;
  /*text-align: center;*/
  /*margin-bottom: 30px;*/
}

.tta-section h3{
  font-size: 28px;
}

/* ==================================================
    Home
================================================== */
/*#home {
  min-height: 600px;
  background-image: url('../img/bg-home-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
#home {
  padding: 0 !important;
  /*height: 800px;*/
}

/*.home-slider.ns_nerveSlider {
  position: absolute;
  z-index: -9999;
}

.home-slider .ns_slideContent {
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-slider .ns_slideContent.bg-1 {
  background-image: url('../img/home/evolucion-de-vida.jpg');
}

.home-slider .ns_slideContent.bg-2 {
  background-image: url('../img/home/camino-al-exito.jpg');
}

.home-slider .ns_slideContent.bg-3 {
  background-image: url('../img/home/estrategia-de-negocios.jpg');
}

.home-slider .ns_slideContent.bg-4 {
  background-image: url('../img/home/logra-tus-suenos.jpg');
}

.home-slider .ns_slideContent.bg-5 {
  background-image: url('../img/home/lo-que-puedo-ser.jpg');
}*/

#home .logo img{
  margin: 0 auto;
}

/* ==================================================
    Section 2
================================================== */
#section2 {
  border-bottom: 1px solid #d7d8d9;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

/* ==================================================
    Jeunesse
================================================== */
#jeunesse {
  background-color: #ecf2f5;
  border-bottom: 1px solid #d7d8d9;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

#jeunesse .video-jeunesse {
  margin-top: 30px;
}

/* ==================================================
    Products
================================================== */
#products {
  border-bottom: 1px solid #d7d8d9;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

#products .product {
  margin-bottom: 50px;
  text-align: center;
}

#products .product.product-right{
  text-align: right;
}

#products .product.product-left{
  text-align: left;
}

#products .product .prod-img {
  margin: 0 auto;
}

/* ==================================================
  Compensation
================================================== */
#compensation {
  background-color: #ecf2f5;
  border-bottom: 1px solid #d7d8d9;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

/* ==================================================
  Industry
================================================== */
#industry {
  border-bottom: 1px solid #d7d8d9;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

#industry h3 {
  color: #18315A;
}

#industry .testimonials {
  margin-bottom: 40px;
}

#industry .backer {
  margin-top: 35px;
  text-align: center;
}

#industry .backer img {
  margin: 0 auto;
  border-radius: 3px;
}

#industry .backer h4 {
  color: #18315A;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

#industry .backer .job {
  font-weight: bold;
  margin-bottom: 10px;
}

#industry .backer blockquote p {
  font-size: 15px;
}

/* ==================================================
    Join us
================================================== */
#join-us {
  background-color: #060505;
  padding-top: 30px;
  border-bottom: 1px solid #d7d8d9;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

#join-us .tta-photos {
  border: 6px white solid;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#join-us .tta-photos img {
  width: 100% !important;
  height: auto !important;
}

#join-us .join-us-slider {
  z-index: -99999;
}


#join-us .message {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
}

#join-us .message p {
  margin: 0;
  font-size: 35px;
  margin: 200px;
  letter-spacing: 2px;
}

/* ==================================================
    About-us
================================================== */
#about-us {
  padding-bottom: 0;
}

#about-us .team {
  margin-bottom: 40px;
}

#about-us .team .logo-team {
  margin: 0 auto;
}

#about-us .team .logo {
  min-height: 240px;
}

#about-us .team p {
  text-align: justify;
}

/* ==================================================
   Why-TTA
================================================== */
#why-tta {
  background-color: #18315A;
  color: #FFFFFF;
  padding: 50px 0;
}

#why-tta ul li {
  font-size: 18px;
}

#why-tta .money {
  font-size: 22px;
  font-weight: bold;
  margin: 0 12px;
  color: #FFBF00;
}

/* ==================================================
   Closure
================================================== */
#closure {
  padding: 15px;
  background-color: #FFBF00;
}

#closure span {
  display: block;
  font-size: 28px;
  color: #FFFFFF;
  font-weight: bold;
}


/* ==================================================
   Contact
================================================== */
#contact {
  padding : 40px 0 140px;
  background-image: url('../img/contact/welcome.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact h2 {
  margin: 0;
  padding: 0 0 20px;
}

#contact .column {
  margin-bottom: 20px;
}

#tta-contact .form-group {
  margin-bottom: 8px;
}

#contact-response {
  margin: 0;
}

#tta-contact #contact-submit {
  background-color: #002A5C;
  color: #FFFFFF;
}

#tta-contact #contact-submit:hover, #tta-contact #contact-submit:focus {
  background-color: #5584BB;
}

/* ==================================================
   Footer
================================================== */
#footer {
  color: #131619;
  font-size: 14px;
  background-color: #FFEAB5;
  padding: 14px 30px;
}

#footer span a {
  color: #E2655B;
  font-weight: bold;
}

#footer span a:hover, .footer span a:focus {
  color: #fff;
}

#footer .social-icons i {
  margin: 5px 12px;
  color: #FFFFFF;
}

/* ==================================================
   Products External
================================================== */

  /* ==============Testimonial=============== */
  #testimonials .testimonials-gallery {
    position:relative;
    margin:0 auto;
    width:100%;
    border-radius:20px;
  }

  #testimonials .testimonials-gallery .big-image{
    width:100%;
    height:470px;
    margin:0 auto;
    position:relative;
  }

  #testimonials .testimonials-gallery .big-image img{
    max-width: 100%;
    opacity:0;
    position:absolute;
    left:0;
    right: 0;
    top:0;
    margin: 0 auto;
    transition: opacity 350ms;
    box-shadow:0 1px 20px 1px rgba(0,0,0,0.7);
  }

  /*Selected image display*/
  #testimonials .testimonials-gallery .big-image img:target{
    opacity:1;
  }

  /*on select image display none the default image*/
  #testimonials .testimonials-gallery .big-image img:target ~ img#default{
    opacity:0;
  }

  /*Show Default Image in first load*/
  #testimonials .testimonials-gallery .big-image img#default{
    opacity:1;
  }

  /***Button***/
  #testimonials .testimonials-gallery .button{
    font-weight:bold;
    font-size:30px;
    display:inline-block;
    transform:scale(1,1.5);
    padding:3px 10px;
    border-radius: 5px;
  }

  #testimonials .testimonials-gallery .btn-control {
    position:absolute;
    top:508px;
    cursor: pointer;
    color: #FFFFFF;
  }

  #testimonials .testimonials-gallery .prev{
    left:0;
  }

  #testimonials .testimonials-gallery .next{
    right:0;
  }

  /***move thumbs on click on buttons***/
  #testimonials .testimonials-gallery .prev:active ~ .thumbs  ul{
    transform:translateX(1%);
    transition:3s all;
  }

  #testimonials .testimonials-gallery  .next:active ~ .thumbs  ul{
    transform:translateX(-90%);
    transition:3s all;
  }

  /***thumbs***/
  #testimonials .testimonials-gallery .thumbs{
    overflow:hidden;
    white-space:nowrap;
    margin:0 45px;
  }

  #testimonials .testimonials-gallery .thumbs ul{
    float:left;
    transition:999999s all;
    transform:translateX(0);
  }

  #testimonials .testimonials-gallery .thumbs li{
    display:inline-block;
    margin-right:3px;
  }

  #testimonials .testimonials-gallery .thumbs li a:hover{
    opacity:1;
  }

  #testimonials .testimonials-gallery .thumbs li a{
    opacity:0.85;
  }

  #testimonials .testimonials-gallery .thumbs li a:focus{
    opacity:1;
  }

  #testimonials .testimonials-gallery .thumbs li img{
    width:128px;
    max-height: 120px;
  }

  /* ==============Testimonial=============== */
  .conditions {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
  }



/* ==================================================
    Header
================================================== */
#header img{
  width: 100%;
}

/* ==================================================
    Content
================================================== */
#content img {
  margin: 0 auto;
}

/* ==================================================
    Ageless
================================================== */
body.ageless h2{
  color: #469BB0;
}

body.ageless .description {
  color: #706F6F;
}

.price {
  margin: 20px 0;
  font-size: 18px;
}

body.ageless .price .amount {
  color: #469BB0;
  font-weight: bold;
}

body.ageless .testimonials-gallery .btn-control {
  background-color: #469BB0;
}

/* ==================================================
    Luminesce
================================================== */
.luminesce-product {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 2px solid #94A8BA;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

body.luminesce .price .amount {
  color: #18315A;
  font-weight: bold;
}

body.luminesce .testimonials-gallery .btn-control {
  background-color: #002A5C;
  top: 497px !important;
}

/* ==================================================
    Zen Bodi
================================================== */
.zenbodi-product {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 2px solid #94A8BA;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 -1px 0 rgba(255,255,255,.8);
}

body.zenbodi h2{
  color: #B81E20;
}

body.zenbodi .description {
  color: #706F6F;
}

body.zenbodi .price .amount {
  color: #B81E20;
  font-weight: bold;
}

body.zenbodi .testimonials-gallery .btn-control {
  background-color: #B81E20;
  /*top: 497px !important;*/
}

/* ==================================================
    Finiti
================================================== */
body.finiti h2{
  color: #DD0977;
}

body.finiti .description {
  color: #706F6F;
}

body.finiti .price .amount {
  color: #DD0977;
  font-weight: bold;
}

/* ==================================================
    RESERVE
================================================== */
body.reserve h2{
  color: #35004A;
}

body.reserve .description {
  color: #706F6F;
}

body.reserve .price .amount {
  color: #35004A;
  font-weight: bold;
}

body.reserve .testimonials-gallery .btn-control {
  background-color: #35004A;
  top: 497px !important;
}
/* ==================================================
    AM PM
================================================== */
body.am-pm h2{
  color: #EF2D24;
}

body.am-pm .description {
  color: #706F6F;
}

body.am-pm .price .amount {
  color: #EF2D24;
  font-weight: bold;
}

/* ==================================================
    Sale
================================================== */

/* ==================================================
   Footer
================================================== */
#footer.footer-ageless {
  background-color: #469BB0;
  color: #FFFFFF;
}

#footer.footer-ageless span a {
  color: #002A5C;
}

#footer.footer-zenbodi {
  background-color: #B81E20;
  color: #FFFFFF;
}

#footer.footer-zenbodi span a {
  color: #002A5C;
}

#footer.footer-finiti {
  background-color: #DD0977;
  color: #FFFFFF;
}

#footer.footer-finiti span a {
  color: #002A5C;
}

#footer.footer-lumnisce {
  background-color: #002A5C;
  color: #FFFFFF;
}

#footer.footer-reserve {
  background-color: #35004A;
  color: #FFFFFF;
}

#footer.footer-am-pm {
  background-color: #EF2D24;
  color: #FFFFFF;
}

#footer.footer-am-pm span a {
  color: #4C4C4C;
}

