@media only screen and (max-width: 768px){

  .home-slider .ns_slideContent.bg-1 .logo{
    margin: 50px 0 0 0;
  }

  .home-slider .ns_slideContent.bg-1 .logo img {
    max-width: 100px;
  }

  .home-slider .ns_slideContent.bg-1 .logo h1 {
    font-size: 30px;
  }

  .home-slider .ns_slideContent .slogan p {
    padding: 10px;
    font-size: 24px;
  }

  /* ==================================================
    Sections
  ================================================== */
  .tta-section h2{
    font-size: 24px;
    padding: 1em 0 1.6em;
    font-family: 'CabiarBold', serif;
    margin: 0;
    text-align: center;
  }

  /* ==================================================
      Jeunesse
  ================================================== */
  #jeunesse .stages {
    margin-top: 30px;
  }

  /* ==================================================
      Products
  ================================================== */
  #products .product h3{
    font-size: 24px;
    text-align: center;
  }

  #products .product .prod-desc{
    text-align: justify;
  }

  /* ==================================================
      Join-us
  ================================================== */
  #join-us .tta-photos .only-web {
    display: none;
  }


  /* ==================================================
      About-us
  ================================================== */
  #about-us .team-tta {
    padding: 20px 70px;
  }

  #about-us .why-tta .money {
    margin: 0;
  }

  #closure span {
    display: block;
  }

  /* ==================================================
   Contact
  ================================================== */
  #contact {
    padding : 40px 0;
  }

  /* ==================================================
   Footer
  ================================================== */
  #footer.footer-ageless,  #footer.footer-lumnisce,
  #footer.footer-vidacell,  #footer.footer-zen-bodi,
  #footer.footer-finiti, #footer.footer-reserve,
  #footer.footer-am-pm {
    padding: 14px 30px 70px;
  }

  #footer .copyright, #footer .social-icons {
    text-align: center;
  }

}

@media (max-width: 1200px) {
  #join-us .tta-photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #join-us .tta-photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #join-us .tta-photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

